<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Druzya - Friends</title>
    </head>
    <body>
        <h1>Friends</h1>
        <nav>
            <a href="/">Main</a>
        </nav>
        <table>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Openness</th>
                <th>Conscientiousness</th>
                <th>Agreeableness</th>
                <th>Neuroticism</th>
                <th>Extroversion</th>
            </tr>
            {{FRIENDS}}
        </table>
    </body>
</html>